export DATABASE_CONNECTION_STRING="postgresql://postgres:postgres@localhost:5432/mercado_crystal_dev"
export REDIS_URL="redis://localhost:6379/0"
export SESSION_SECRET="replace-with-a-random-64-character-hex-string"
export CRYSTAL_PATH="src:lib:/usr/lib/crystal"
